.features-container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .features-box {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    padding: 20px;
    color: gold;
    width: 80%;
  }
